<html>

    <head>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <!-- Socket.io -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>

        <!-- Controller -->
        <script src="index.controller.js"></script>
        <script src="posts.controller.js"></script>
        <script src="login.controller.js"></script>

        <!-- Services -->
        <script src="socket.service.js"></script>

    </head>

    <body ng-app="mainApp" ng-controller="main_controller">

        <nav>
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo" ng-click="main_view_switch('posts')">Giulio Jiang</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a ng-click="main_view_switch('login')">Login</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">

            <div ng-show="main_view == 'posts'" ng-include="'posts.html'"></div>

            <div ng-show="main_view == 'login'" ng-include="'login.html'"></div>

        </div>

    </body>
</html>
