<html>

    <head>

        <base href="/">

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <!--Highlight.js-->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github-gist.min.css">

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>

        <!-- Async -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/async/2.6.0/async.min.js"></script>

        <!-- Controller -->
        <script src="index.controller.js"></script>
        <script src="posts.controller.js"></script>
        <script src="login.controller.js"></script>
        <script src="navbar.controller.js"></script>
        <script src="write/write.controller.js"></script>
        <script src="post.controller.js"></script>
        <script src="write/upload/upload.controller.js"></script>
        <script src="write/files/files.controller.js"></script>

        <!-- Services -->
        <script src="socket.service.js"></script>
        <script src="rawhtml.service.js"></script>
        <script src="switcher.service.js"></script>
        <script src="login_handler.service.js"></script>
        <script src="session.service.js"></script>
        <script src="write/write_data.service.js"></script>
        <script src="alert.service.js"></script>
        <script src="posts_handler.service.js"></script>
        <script src="jswindow.service.js"></script>
        <script src="hash.service.js"></script>
        <script src="dateutil.service.js"></script>
        <script src="post_handler.service.js"></script>
        <script src="binupload.service.js"></script>
        <script src="util.service.js"></script>
        <script src="write/files/files.data.js"></script>

        <!-- Custom stylesheets -->
        <link rel="stylesheet" type="text/css" href="css/markdown_container.css">
        <link rel="stylesheet" type="text/css" href="css/button.css">

    </head>

    <body ng-app="mainApp" ng-controller="main_controller">
        <div ng-include="'navbar.html'"></div>
        <div class="container">
            <div ng-if="is_active('posts')" ng-include="'posts.html'"></div>
            <div ng-if="is_active('login')" ng-include="'login.html'"></div>
            <div ng-if="is_active('write')" ng-include="'write/write.html'"></div>
            <div ng-if="is_active('post')" ng-include="'post.html'"></div>
        </div>
    </body>
</html>
