<html>
    <body>
        <div class="jgrid-v">
            <div>
                <div id="jpress-main-title" class="jgrid-padding" onclick="jpress.main.gotoRelative('/')">
                    <!-- Content inserted at runtime -->
                </div>
            </div>
            <div ng-click="headerl1=true;" class="jpress-flatbutton">
                Account
            </div>
        </div>
        <!-- Popup layer -->
        <div class="jgrid-layer jgrid-layer-top1" ng-show="headerl1" style="background-color: rgba(160, 160, 160, 0.47); display: none;" ng-click="headerl1=false">
            <div class="jgrid-layer-small jgrid-scroll" style="background-color: #00000012;" ng-click="$event.stopPropagation();">
                <div class="jgrid-v jgrid-cont-center">
                    <div class="g-signin2 jgrid-padding" data-onsuccess="jpress_on_google_sign_in"></div>
                    <button onclick="jpress.gsignin.signOut()" style="width: 150px;" class="jgrid-padding">Sign out</button>
                </div>
            </div>
        </div>

        <script>
            document.getElementById("jpress-main-title").innerHTML = jpress.main.BLOG_NAME;
        </script>
    </body>
</html>