<html>
    <body>
        <div class="jgrid-v">
            <div>
                <div id="jpress-main-title" class="jgrid-padding jcolor-light background" onclick="jpress.main.gotoRelative('/')">
                    <!-- Content inserted at runtime -->
                </div>
            </div>
            <div id="jpress-header-account-btn" ng-click="headerl1=true;" class="jpress-flatbutton">
                Account
            </div>
        </div>
        <!-- Popup layer -->
        <div id="jpress-header-account-layer" class="jgrid-layer jgrid-layer-top1 jcolor-alpha background" ng-show="headerl1" style="display: none;" ng-click="headerl1=false">
            <div class="jgrid-layer-small jgrid-scroll jcolor-popup background" ng-click="$event.stopPropagation();">
                <div class="jgrid-v jgrid-cont-center">
                    <div class="g-signin2 jgrid-padding" data-onsuccess="jpress_on_google_sign_in"></div>
                    <a onclick="jpress.gsignin.signOut()" class="jpress-flatbutton">Sign out</a>
                    <a id="jpress-header-adminpanel-link" class="jpress-flatbutton">Admin panel</a>
                </div>
            </div>
        </div>

        <script>
            document.getElementById("jpress-main-title").innerHTML = jpress.main.BLOG_NAME;

            // onclick event to enable layer
            {
                var accountElem = document.getElementById("jpress-header-account-btn");
                accountElem.addEventListener("click", function(event) {
                    console.info("Enabling the layer for the account popup");
                    document.getElementById("jpress-header-account-layer").style.display = "unset";
                });
            }

            // onclick event for the button to admin panel
            {
                var adminElem = document.getElementById("jpress-header-adminpanel-link");
                adminElem.addEventListener("click", function(event) {
                    jpress.main.gotoRelative("/panel");
                });
            }
        </script>
    </body>
</html>