<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script>jpress.main.loadJs(jpress.main.BASEURL + "/write/write.js");</script>
    </head>
    <body ng-controller="mainController">
        <div class="jgrid-layer">
            <div class="jgrid-h jgrid-fullsize">
                <!-- Sidebar -->
                <div class="jgrid-sidebar" id="jpress-header"></div>
                <!-- Main area -->
                <div class="jgrid-h jgrid-expand jgrid-fullsize-y jgrid-scroll-y jgrid-shrink">
                    <!-- Left side -->
                    <div class="jgrid-v jgrid-expand jgrid-cont-center">
                        <!-- Title -->
                        <input type="text" ng-model="d.title" placeholder="Title" class="jgrid-fullsize-x jgrid-padding">
                        <!-- Body -->
                        <textarea ng-model="d.writeInput" placeholder="Post body" class="jgrid-fullsize-x jgrid-padding"></textarea>
                        <!-- Preview button -->
                        <div ng-click="previewButton()" class="jpress-flatbutton">Preview</div>
                        <!-- Submit button -->
                        <div ng-click="submitButton()" class="jpress-flatbutton">Submit</div>
                    </div>
                    <!-- Right side -->
                    <div class="jgrid-v jgrid-expand jgrid-cont-center jgrid-shrink">
                        <!-- Preview -->
                        <h2>Post preview</h2>
                        <div id="previewElement" class="jgrid-fullsize-x"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>