<div ng-controller="posts">
    <div class="section">
        <div class="row" ng-repeat="a_post in get_posts() track by $index">
            <div class="col s12">
                <div class="card blue-grey lighten-5">
                    <div class="card-content">
                        <a ng-click="title_click(a_post)"><span class="card-title jpress_link_cursor">{{a_post.title}}</span></a>
                        <p>{{format_date(a_post.created)}}</p>
                        <div class="jpress_post_container" id="{{generate_post_id($index)}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section row">
        <div class="col s3"></div>
        <div class="col s2">
            <a class="waves-effect waves-light btn blue-grey darken-2 jpress_text_button" ng-click="previous_page()">Previous page</a>
        </div>
        <div class="col s2">
            <a class="waves-effect waves-light btn blue-grey darken-2 jpress_text_button jpress_button_no_pointer">{{get_visual_page_no()}}</a>
        </div>
        <div class="col s2">
            <a class="waves-effect waves-light btn blue-grey darken-2 jpress_text_button" ng-click="next_page()">Next page</a>
        </div>
        <div class="col s3"></div>
    </div>
</div>
