<div ng-controller="write">
    <div class="section row">
        <!--Title-->
        <input type="text" class="validate" placeholder="title" ng-model="d.title">
    </div>
    <div class="section row">
        <!-- Writing area -->
        <div class="col s6">
            <textarea id="jpress_write_textarea" class="materialize-textarea"></textarea>
        </div>
        <!-- Preview area -->
        <div class="col s6">
            <div class="jpress_post_container" id="{{preview_id()}}"></div>
        </div>
    </div>
    <!-- Include uploader -->
    <div ng-include="'write/upload/upload.html'"></div>
    <!-- Uploaded files list -->
    <div ng-include="'write/files/files.html'"></div>
    <!-- Submit and preview buttons -->
    <div class="section row center">
            <a class="waves-effect waves-light btn-large green lighten-2" ng-click="preview()">Preview</a>
            <a class="waves-effect waves-light btn-large light-blue lighten-2" ng-click="submit()">Submit</a>
    </div>
</div>
